Google task tool with AI Agent.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "c39dd865-ad58-4b88-a2f1-7b1c730d2e94",
      "name": "When chat message received",
      "webhookId": "bf8b5dc9-dc01-4240-88cd-75eacfa375be"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant.\n\nWhen ask about tasks, make sure to use the Google Tasks Tool , to get the appropriate number of task and provide a good summary."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "85be3d69-0ded-4452-9318-17b45ec1c1a3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        288
      ],
      "id": "5a61604a-85e0-491c-9059-e4b6393d0637",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WLGVGgHqn3uzwwlV",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        272
      ],
      "id": "406512cc-7f8c-4db3-b286-1bbfec54e5a6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "task": "MTU0MzYzMjg0OTUyMTY3OTYwMjQ6MDow",
        "title": "={{ $json.chatInput }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        464,
        288
      ],
      "id": "dc83a79c-0bac-47b2-b1a9-aca903dd33a2",
      "name": "Google Tasks Tool",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "k54lfAWxNxyD0zTI",
          "name": "Google Tasks account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Tasks Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b8abdbcf-7b0b-488b-99fb-74f6b27b11c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e0d220b66ab96b3d2ff04384d3526ac39687c6e661bd4d661eacd7efa748acbc"
  },
  "id": "vnNgdaUQu7I9ZlJL",
  "tags": []
}